
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="javascript:;">

                <span class="navbar-title">
                    To-Do List
                </span>
            </a>
        </div>
    </nav>

    <div class="container-fluid mt-5 ">




        <div class="row">
            <div class="col-md-3">

                <div class="username-label">

                    Create List
                    <i class="fa fa-plus" style="color: blue;" data-toggle="modal" data-target="#exampleModal"></i>

                </div>


<% @list.each do |i| %>
  

                <ul class="nav flex-column to-do-list ">

                    <li class="nav-item active nav-list" data-list-id= <%=i.id %> >
                        <a class="nav-link list-link" aria-current="page" href="javascript:;"><%= i.name %> <i
                                class="fa fa-chevron-right"></i></a>

                  </li>  



                </ul>

<% end %>






            </div>
            <div class="col-md-9">


                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-body">
                                <p class="modal-body-p mb-1">New
                                    To-Do List</p>
                                <input type="text" style="    line-height: 5px;" class="form-control mt-2"
                                    id="new-to-do-list" placeholder="Enter To-Do List" autofocus>
                                <button type="button" id="btn-create-list" class="btn btn-primary mt-3"
                                    style="font-size: 14px;   line-height: 15px;  " data-dismiss="modal">Create</button>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Modal End -->


                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <input type="text" class="form-control" id="to-do-item" placeholder="Enter To-Do Item"
                            autofocus>
                    </div>
                    <div class="col-md-3 col-sm-3 ">
                        <a href="javascript:;" class="btn btn-sm btn-primary" id="add-item">Add</a>
                    </div>


                </div>

                <div class="row mt-5">
                    <div class="col-md-12">
                        <!-- Nav pills -->
                        <ul class="nav nav-pills p-1" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active list-all" data-toggle="pill" href="#all">All</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link list-active" data-toggle="pill" href="#all">Active</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link list-complete" data-toggle="pill" href="#all">Completed</a>
                            </li>
                        </ul>

                        <!-- List  panes -->
                        <div class="container tab-content">
                            <div id="all" class="row  tab-pane active  mt-2  ">
                                <div class="col-md-12" id="l1" style="display: none;">
                                    <div data-id=1 data-status="not-completed"
                                        class="row border align-items-center p-2 " style="line-height: 0px;">
                                        <input class="check pl-2" name="check" type="checkbox" />
                                        <p class="mt-3 pl-3">BKK</p>
                                        <i class="fa fa-times border " aria-hidden="true"></i>
                                    </div>
                                    <div data-id=1 data-status="not-completed"
                                        class="row border align-items-center p-2 " style="line-height: 0px;">
                                        <input class="check pl-2" name="check" type="checkbox" />
                                        <p class="mt-3 pl-3">Dubai</p>
                                        <i class="fa fa-times border " aria-hidden="true"></i>
                                    </div>


                                </div>

                                <div class="col-md-12" id="l2" style="display: none;">
                                    <div data-id=1 data-status="not-completed"
                                        class="row border align-items-center p-2 " style="line-height: 0px;">
                                        <input class="check pl-2" name="check" type="checkbox" />
                                        <p class="mt-3 pl-3">Dr. Strange</p>
                                        <i class="fa fa-times border " aria-hidden="true"></i>
                                    </div>
                                    <div data-id=1 data-status="not-completed"
                                        class="row border align-items-center p-2 " style="line-height: 0px;">
                                        <input class="check pl-2" name="check" type="checkbox" />
                                        <p class="mt-3 pl-3">Spiderman</p>
                                         
                                        <i class="fa fa-times  border" aria-hidden="true"></i>
                                    </div>



                                </div>

                            </div>

                            <!--

                            <div id="active" class="row tab-pane fade  mt-2 ">
                                <div class="col-md-12" id="l3">
                                    <div data-id=1 data-status="not-completed"  class="row border align-items-center p-2 " style="line-height: 0px;">
                                        <input class="check pl-2" type="checkbox"/> 
                                        <p class="mt-3 pl-3">BKK</p>
                                        <i class="fa fa-times  " aria-hidden="true"></i>
                                       </div>

                                    
                                </div> 

                                <div class="col-md-12" id="l4" >
                                    <div data-id=1 data-status="not-completed"  class="row border align-items-center p-2 " style="line-height: 0px;">
                                        <input class="check pl-2" type="checkbox"/> 
                                        <p class="mt-3 pl-3">BKK</p>
                                        <i class="fa fa-times  " aria-hidden="true"></i>
                                       </div>

                                    
                                </div> 

                            </div>
                            <div id="complete" class="row tab-pane fade   mt-2 ">

                            </div>

                            -->
                        </div>

                    </div>
                </div>


            </div>




        </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>


    <script>

        $(document).ready(function () {
            console.log("Its Working")
            var current_list_id = "l1"
            $(`#${current_list_id}`).show()
            $(`#${current_list_id}`).siblings().hide()


            $(document).on('click', '.nav-list', function () {
                $(this).addClass("active").siblings().removeClass("active")
                current_list_id = $(this).data("list-id");
                $(`#${current_list_id}`).show()

                $(`#${current_list_id}`).siblings().hide()


                console.log(current_list_id)

            })


            $('#new-to-do-list').change(function () {

                $('#exampleModal').modal('hide');

                var id = new Date().getTime()
                var new_list = $("#new-to-do-list").val();

                var html2 = `   <li class="nav-item nav-list ${id} "   data-list-id=${id}>
                                <a class="nav-link  list-link" aria-current="page" href="#">${new_list}<i class="fa fa-chevron-right"></i></a>
                                </li>`


                $(".to-do-list").append(html2)


                $("#new-to-do-list").val('');
                $(`.${id}`).click()

                var html1 = `<div class="col-md-12" id=${id} style="display: none;">                                   
      
                                </div> `


                $('#all').append(html1)
                current_list_id = id;
                $(`#${current_list_id}`).siblings().hide()
                $(`#${current_list_id}`).show()
                $('.list-all').click()


            })



            $('#to-do-item').change(function () {

                var input = $(this).val();
                console.log(current_list_id)
                var idx = new Date().getTime()

                if (typeof current_list_id === "undefined") {
                    alert("Select List First")
                    $(this).val('');
                } else {


                    var html = `<div data-id=${idx} data-status="not-completed"  class="row border align-items-center p-2 " style="line-height: 0px;">
                                        <input class="check pl-2" name="check" type="checkbox"/> 
                                        <p class="mt-3 pl-3">${input}</p>
                                        <i class="fa fa-times  " aria-hidden="true"></i>
                                       </div>`

                    $(`#${current_list_id}`).append(html)

                    console.log(current_list_id, "Appended")
                    $(this).val('');
                    $('.list-all').click()

                }

            })



            $('.list-all').click(function () {

                $(`#${current_list_id}`).children().show()


            })

            $('.list-active').click(function () {

                
                $(`#${current_list_id}`).children().hide()
                $(`#${current_list_id}`).children().not(".selected").show();


            })

            $('.list-complete').click(function () {
                
                $(`#${current_list_id}`).children().hide()
                $(`#${current_list_id}`).children().filter(".selected").show();




            })





            $(document).on('click', '.fa-times', function () {

                $(this).parent().remove()





            });

            $(document).on('click', '.check', function () {


                if ($(this).is(":checked")) {
                    $(this).parent().addClass("selected")
            } else {
                $(this).parent().removeClass("selected")
            }

            

                




            });



        })
    </script>